html{
    font-family: Tahoma;
    background-image: url("Background whack-a-mole.jpg");
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(0, 155, 0);
    text-align: center;
}

header{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.knopje{
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 475px;
    width: 475px;
    margin-left: auto;
    margin-right: auto;    
}

.square{
    height: 125px;
    width: 125px;
    border: 2.5px solid black;
    margin: 1.5px;
    background-color: burlywood;
    border: hidden;
}

.mole {
    background-image: url('monty_mole.png');
    background-size: 125px 125px;
}